#searchbox
{
	background:url(../images/ui/search-bg.jpg) no-repeat center center;
	overflow:hidden;
	clear:both;
	margin:3px 7px;
	border-radius:3px 3px;
	height:80px;
}
#searchbox .wrap
{
	margin:2px 50px 1px 50px;
}
#searchbox .filter
{
	margin:1px 1px;
}
#searchbox .filter a, #searchbox .filter a:visited
{
	color:#333333;
	padding:3px 8px;
	margin:1px 4px 1px 0px;
	display:inline-block;
	border-radius:3px 3px;
}
#searchbox .filter a:hover
{
	background-color:#FEFA8B;
	color:#000000;
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}
#searchbox .filter a.active
{
	background-color: #90d522;
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}
#searchbox .dbinfo
{
	text-align:right;
	color:#000000;
	font-size:11px;
	margin:1px 1px;
	float:right;
	width:160px;
	line-height:24px;
	height:24px;
}
#searchbox .option
{
	margin:1px 1px;
	overflow:hidden;
	float:left;
	width:370px;
	line-height:24px;
	height:24px;
}
#searchbox .option div
{
	display:none;
}
#searchbox .option div.show
{
	display:block;
}
#searchbox .option label
{
	color:#333333;
}
#searchbox .control
{
	border:solid 1px #3165CE;
	background-color:#ffffff;
	border-radius:3px 3px;
	margin:1px 0px;
	overflow:hidden;
	clear:both;
	height:26px;
}
#searchbox .control .keyword
{
	background:url(../images/ui/search-icon.png) no-repeat 3px center;
	float:left;
	width:450px;
	height:24px;
}
#searchbox .control .search
{
	float:right;
	width:80px;
	height:24px;
}
#searchbox .control .keyword input
{
	border-width:0px;
	background-color:#ffffff;
	color:#3165CE;
	font-weight:bold;
	width:430px;
	height:22px;
	margin-left:20px;
}
#searchbox .control .search input
{
	background-color: #ffcc00;
	border-radius:3px 3px;
	border-width:0px;
	color:#ffffff;
	font-weight:bold;
	cursor:pointer;
	cursor:hand;
	height:26px;
	width:80px;
}