.Pill {
	BACKGROUND-color: #E6ECF5; 
	BORDER-BOTTOM: #bcd6f4 1px solid;
	padding-top:5px;
}
.PillInfo
{
	margin-bottom:5px;
	text-align:left;
	margin-left:5px;
	font-family:Arial;
	font-size:12px;
	line-height:20px;
}
.PillInfo a
{
	color:#008000;
	font-weight:bold;
}
.PillInfo .pill_info_table
{
	background-color:#ffffff;
	width:98%;
}
.PillInfo .pill_info_table b
{
	color:#3572C7;
}
.PillInfo .pill_info_table img
{
	max-width:300px;
}
.PillName
{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#008000;
	margin-bottom:5px;
}
.PillTabContentList {
	FLOAT: left; 
	width:100%;
}
.PillTabContentList .tabContent
{
	text-align:left;
	margin-top:15px;
	margin-left:5px;
	margin-right:5px;
	font-family:Arial;
	font-size:12px;
	line-height:20px;
	text-align:justify;
	color:#000000;
}
.PillTabContentList .tabContent .headerinfo
{
	font-weight:bold;
	color:#F14609;
	font-size:12px;
	margin-bottom:5px;
	margin-top:15px;
}
.PillTabList {
	HEIGHT: 28px;
	font-family:Arial;
	font-size:12px;
	color:#636363;
	padding-left:5px;
}
#PillTabListLeft {
	FLOAT: left; 
	MARGIN-LEFT: 5px; 
	POSITION: relative;
}
#PillTabListLeft .tabSelected {
	BACKGROUND-POSITION: -6px 29px; 
	MARGIN-TOP: 2px; 
	FONT-WEIGHT: normal; 
	FLOAT: left; 
	BACKGROUND-IMAGE: url(../images/pill/tab_bg.png); 
	WIDTH: 133px; 
	CURSOR: pointer; 
	LINE-HEIGHT: 28px; 
	POSITION: absolute; 
	HEIGHT: 27px; 
	TEXT-ALIGN: center;
}
#PillTabListLeft .tab {
	BACKGROUND-POSITION: -145px 29px; 
	FONT-WEIGHT: normal; 
	FLOAT: left; 
	BACKGROUND-IMAGE: url(../images/pill/tab_bg.png); 
	WIDTH: 133px; 
	CURSOR: pointer; 
	LINE-HEIGHT: 28px; 
	POSITION: absolute; 
	HEIGHT: 27px; 
	TEXT-ALIGN: center;
}
/*tabs detail*/
#tabPill DIV {
	MARGIN-TOP: 2px; 
	BACKGROUND: url(../images/pill/pill.png) no-repeat 0px 6px; 
	FLOAT: right; 
	WIDTH: 117px; 
	MARGIN-RIGHT: 5px;
}
#tabPillExclamation DIV {
	MARGIN-TOP: 2px; 
	BACKGROUND: url(../images/pill/pill_exclamation.png) no-repeat 0px 6px; 
	FLOAT: right; 
	WIDTH: 95px; 
	MARGIN-RIGHT: 8px;
}
#tabPillDelete DIV {
	MARGIN-TOP: 2px; 
	BACKGROUND: url(../images/pill/pill_delete.png) no-repeat 0px 6px; 
	FLOAT: right; 
	WIDTH: 110px; 
	MARGIN-RIGHT: 2px;
}
#tabPillPrice DIV {
	MARGIN-TOP: 2px; 
	BACKGROUND: url(../images/pill/pill_price.png) no-repeat 0px 6px; 
	FLOAT: right; 
	WIDTH: 90px; 
	MARGIN-RIGHT: 13px;
}
#tabPillBuy DIV {
	MARGIN-TOP: 2px; 
	BACKGROUND: url(../images/pill/pill_buy.png) no-repeat 0px 6px; 
	FLOAT: right; 
	WIDTH: 125px; 
	margin-left:15px;
}
.price_table
{
	width:99%;
	background-color:#BBBBBB;
}
.price_table caption
{
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding-top:15px;
	padding-bottom:5px;
	text-align:left;
}
.price_table th
{
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#008000;
	background-color:#eeeeee;
	text-align:left;
	padding:3px 3px 3px 3px;
}
.price_table td
{
	font-family:Arial;
	font-size:12px;
	background-color:#ffffff;
	padding:3px 3px 3px 3px;
}
/*QA*/
.qa_header
{
	margin:20px 5px 10px 5px;
	height:35px;
	background-image:url(../images/pill/discussion.png);
	background-repeat:no-repeat;
	background-position:left center;
	clear:both;
	overflow:hidden;
}
.qa_header div
{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#008000;
	padding:10px 5px 0px 25px;
}
.a_icon
{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#008000;
}
.a_content
{
	margin:5px 5px 5px 5px;
	line-height:20px;
	text-align:justify;
}
.a_contact
{
	font-family:Arial;
	font-size:11px;
	color:#666666;
	text-align:right;
	font-style:italic;
	margin:5px 5px 15px 5px;
}
.a_contact b
{
	color:#008000;
}
.q_icon
{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#F14609;
}
.q_content
{
	margin:5px 5px 0px 5px;
	line-height:20px;
	text-align:justify;
	background-color:#f7f7f7;
	border-bottom:solid 2px #E1ECD8;
	color:#405952;
}
.q_contact
{
	font-family:Arial;
	font-size:11px;
	color:#666666;
	text-align:right;
	font-style:italic;
	margin:0px 5px 5px 5px;
}
.q_contact span
{
	padding-left:3px;
}
.q_contact span b
{
	color:#F14609;
}
/*QA Form*/
.qa_form
{
	margin:5px 5px 5px 5px;
	clear:both;
	background-color:#DCEFF6;
	background-image:url(../images/pill/form_qa_bg.png);
	background-repeat:repeat-x;
}
.qa_form .form_header
{
	margin:20px 5px 10px 0px;
	height:35px;
	background-image:url(../images/pill/question.png);
	background-repeat:no-repeat;
	background-position:left center;
	clear:both;
}
.qa_form .form_header div
{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	padding:10px 5px 0px 25px;
}
.form_alert 
{
	text-align:center;
	font-family:Arial;
	font-size:12px;
	color:#ff0000;
}
.qa_form table
{
	width:90%;
	background-image:url(../images/pill/table_qa_bg.png);
	background-repeat:repeat-x;
}
.qa_form table td
{
	vertical-align:top;
}
.qa_form table td span
{
	color:#333333;
	display:block;
	padding-top:5px;
	font-weight:bold;
}
.qa_form table td span i
{
	font-size:11px;
	font-weight:normal;
	color:#333333;
}
.qa_form table td input
{
	width:250px;
	border:solid 1px #D5E6EE;
	height:24px;
	color:#008000;
}
.qa_form table td textarea
{
	width:370px;
	border:solid 1px #D5E6EE;
	overflow:auto;
	color:#008000;
}
.qa_form table td .captcha
{
	margin-top:5px;
	background-color:#B8DEED;
	text-align:center;
}
.qa_form table td .captcha div
{
	padding:5px 5px 3px 5px;
}
.qa_form table td .captcha .captcha_input
{
	width:200px;
	text-align:center;
	font-weight:bold;
}
.qa_form .form_note
{
	margin:5px 5px 5px 5px;
}
.qa_form .form_button
{
	margin-top:3px;
	margin-left:275px;
	clear:both;
}
/*CONTACT FORM*/
.contact_form
{
	margin:5px 5px 5px 5px;
	clear:both;
	background-color:#D7E4C6;
}
.contact_form table
{
	border:solid 1px #DCDDCD;
	background-color:#EFF0DE;
	width:90%;
	background-image:url(../images/pill/mail.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	
}
.contact_form table td
{
	vertical-align:top;
}
.contact_form table td span
{
	color:#257900;
	display:block;
	padding-top:5px;
	font-weight:bold;
}
.contact_form table td span i
{
	font-size:11px;
	font-weight:normal;
	color:#257900;
}
.contact_form table td input
{
	width:370px;
	border:solid 1px #DCDDCD;
	background-color:#ffffff;
	height:24px;
}
.contact_form table td textarea
{
	width:370px;
	border:solid 1px #DCDDCD;
	background-color:#ffffff;
	overflow:auto;
}
.contact_info 
{
	color:#666666;
	line-height:20px;
}
.contact_info div
{
	color:#666666;
	font-weight:bold;
	margin-top:2px;
}
.contact_form .contact_button
{
	text-align:center;
	margin-top:5px;
}